---
import BaseLayout from "@/layouts/BaseLayout.astro";
import siteConfig from "@/site-config";
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Wei Su</h1>
    <p>Coding, reading and wondering.</p>
    <p>Currently working at Cyber.</p>
    <p>
      Technology should enhance human's capability, make human connect to the
      reality.
    </p>
  </article>
</BaseLayout>
